body{
    font-weight: 550;
}

header{
    font-family: Helvetica, arial, sans-serif;
    width: 100%;
    position: fixed;
    z-index: 2;
}
main{
    padding-top: 86px;
    font-family: Arial, sans-serif;
}

/* COMMON */
.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.padding-icon{
    padding: 5px;
}

img{
    width: 100%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.black{
    color: black;
}

.grey{
    color: #747474;
}
/* END COMMON */

/* HEADER */

/* HEADER TOP */
.header-top{
    background-color: #0e0e0e;
    text-align: right;
}

.logo-header-top{
    width: 10%;
    padding: 5px;
    display: inline-block;
}
/* END HEADER TOP */

/* HEADER BOTTOM */
.header-bottom{
    background-color: white;  
}

.nav-list-left a{
    color: black;
}

.header-bottom i{
    color: lightgray;
}

.logo-nav {
    width: 30px;
}

.burger{
    font-size: 20px;
}

.nav-list-right{
    display: none;
}

.nav-list-left{
    display: none;
}

/* HEDER BOTTOM MEDIA */
@media (min-width: 768px){
.nav-list-left{
    display: inline-block;
}

.nav-list-right{
    display: inline-block;
}

.burger{
    display: none;
}

.header-bottom{
    font-size: 12px;
    padding: 8px 0px;
}

.header-bottom li{
    display: inline-block;
    margin: 0px 5px;
}

.accedi{
    padding: 3px;
    border: 1px solid white;
    background-color: #3e3e3e;
    color: white;
    border-radius: 10px;
}

.lens img{
    width: 40%;
}
}
/* END HEADER BOTTOM */


/* END HEADER */

/* MAIN */

/* JUMBOTRON RETURNAL */
.returnal-text{
    width: 90%;
    top: 3%;
    left: 5%;
    color: white;
    
}

.returnal-background{
    margin-bottom: 30px;
}

.returnal-background p{
    font-size: 12px;
}

.returnal-background .btn{
    font-size: 12px;
}

.padding-icon img{
    border-radius: 10px;
}

/* MEDIA JUMBOTRON RETURNAL */
@media (min-width: 992px){
    .returnal-text{
        width: 30%;
        top: 30%;
        left: 3%;
        color: white;
    }
}

/* END JUMBOTRON RETURNAL */

/* ECCO PS% */
.ecco-ps5{
    text-align: center;
    padding: 30px 0px;
}

.no-limit{
    font-size: 10px;
    color: #7db7e5;
}

/* END ECCO PS% */

/* CONSOLE PS5 */
.console-ps5{
    padding: 20px 0px;
}

.console-ps5 img{
    width: 80%;
}

.console-ps5 h3{
    padding-top: 20px;
}

.console-ps5 .col-left{
    text-align: center;
}

.console-ps5 .col-right{
    text-align: center;
}

.console-ps5-text{
    margin: 20px 0px;
}

.ps5-gadget img{
    width: 40%;
}

.ps5-gadget .col{
    text-align: center;
}

.ps5-gadget .col :hover{
    border-bottom: 1px solid blue;
}
/* END CONSOLE PS5 */

/* IT TAKES TWO */
.it-takes-two-container{
    background-color: #1f1f1f;
}

#it-takes-two-banner{
    width: 30%;
}

#it-takes-two-container{
    top: 10%;
}

.itt-subtitle{
    color: white;
}
/* END IT TAKES TWO */

/* ESPLORA PS4 */
.ps4-title{
    width: 60%;
    margin: auto;
    text-align: center;
}

.esplora-ps4{
    padding: 50px 0px;
}

/* END ESPLORA PS4 */

/* PLAYSTATION PLUS */
.ps-plus{
    background-color: #bebcbb;
}

.ps-plus-text{
    padding: 50px 0px;
}

.ps-plus-text p{
    padding: 20px 0px;
}

.ps-plus-text a{
    padding: 8px;
    background-color: #d9dadc;
    border-radius: 10px;
}

.ps-plus-img{
    display: none;
}

/* MEDIA PLAYSTATION PLUS */
@media (min-width: 768px){
    .ps-plus-img{
        display: block;
    }
}
/* END PLAYSTATION PLUS */

/* SCONTI */
.sconti{
    padding: 50px 0px;
}

.sconti-title{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 30px 0px;

}

.col-sconti {
    padding: 10px;
}

.col-sconti img{
    width: 90%;
}

.sconti .row{
    text-align: center;
}
/* END SCONTI */

/* PS NOW */
#btn-ps-now{
    background-color: #f3f3f3;
    color: black;
}

#ps-now-background{
    background-color: #161c3b;
}

#ps-plus-p{
    color: white;
}
/* END PS NOW */

/* SOCIAL */
.social{
    width: 60%;
    margin: auto;
    padding: 50px 0px;
}

.social h3{
    text-align: center;
    padding: 30px 0px;
}

.social-img{
    padding: 10px;
}
/* END SOCIAL */

/* END MAIN */

/* FOOTER */
footer{
    background-color: #00439c;
    color: white;
    padding: 50px 0px;
    font-size: 12px;
}

.logo-footer-top{
    padding-bottom: 20px;
}

.logo-footer-top img{
    width: 15%;
}


.globe img{
    width: 6%;
}

.sie{
    padding-top: 20px;
}

.sie img{
    width: 20%;
}

.mag-info{
    color: white;
    text-decoration: underline;
}

/* MEDIA FOOTER */
@media (min-width: 576px){
    .col-footer-right{
        display: flex;
    }
}

@media (min-width: 768px){
    .col-footer-right{
        display: flex;
        justify-content: space-between;
    }

}
/* END FOOTER */